@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Questrial');

/**
 * General
 */

* {
	box-sizing: border-box;
	word-wrap: break-word;
}

::selection { background: rgba(54, 122, 255, 0.72); }
::-moz-selection { background: rgba(54, 122, 255, 0.72); }

html, body {
	margin: 0;

	color: rgb(60, 60, 60);
	font-family: 'Roboto', sans-serif;

	background: rgb(254, 254, 254);
}

.turbolinks-progress-bar {
	height: 2px;
	background-color: #377dff;
}

a {
	color: #377dff;
	text-decoration: none;
	
	transition: all 0.2s;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0;
}

/**
 * Container
 */

.container {
	position: relative;
	z-index: 10;
}

/**
 ** Header  
**/

.header {
	padding: 38px 50px;
}

.header-icon {
	display: inline-block;
	vertical-align: top;
	width: 22px;
}

.header-nav {
	position: relative;
    top: -12px;

	float: right;
}

.header-nav-back {
    position: relative;
    top: 4px;
    width: 16px;
    fill: rgb(100, 100, 100);

    margin-right: 4px;

    transition: fill 0.3s;
}
.header-nav-item:hover .header-nav-back {
    fill: rgb(0, 0, 0);
}

.header-nav-item, .header-nav-main {
	display: inline-block;

	margin-left: 2px;
	padding: 16px 20px;

	color: rgb(100, 100, 100);
	font-family: 'Questrial', sans-serif;
	font-size: 16px;

	border-radius: 6px;
}
.header-nav-item:hover {
	text-decoration: none;
	background: rgb(245, 245, 245);
    color: #000;
}
.header-nav-item_active {
    background: rgb(245, 245, 245);
    color: #000;
}

.header-nav-main {
    margin-right: 14px;
}
.header-nav-main:hover {
    text-decoration: none;
    background: #377dff;
    color: #fff;
}
.header-nav-main_active {
    background: #377dff;
    color: white;
}

@media screen and (max-width: 450px) {
    .header-nav-main { display: none; }
}

/**
 ** Content
 */

.content {
    padding: 0 50px;
}

@media screen and (max-width: 600px) {
    .header {
        padding: 30px 25px;
    }
    .content {
        padding: 0 25px;
    }
}

/**
 ** Wrapper
 */

.wrapper {
    width: 1000px;

    margin: auto;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
    }
}

/**
 ** Heading
 */

.heading {
    margin-top: 40px;

    /*text-align: center;*/
}

.heading-title {
    margin-bottom: 14px;

    font-size: 34px;
    line-height: 1.5;
    font-family: 'Questrial', sans-serif;
    color: #377dff;
}

.heading-subtitle {
    margin-top: 6px;

    font-size: 22px;
    color: rgb(100, 100, 100);
    line-height: 1.75;
    font-family: 'Questrial', sans-serif;
}

/**
 ** Experiments
 **/

.experiments {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
}

.experiments::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.experiments > .experiment:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.experiments > .experiment_large:first-child {
    grid-row: 1 / 1;
    grid-column: span 2 / 3;
}

.experiment {
    display: block;
    width: 100%;
    height: 100%;

    -webkit-perspective: 700;
    perspective: 700;

    font-family: 'Roboto', sans-serif;

    transition: opacity 0.3s;
}
.experiment_large {
    grid-column: span 2;
}

.experiment-cube {
    width: 100%;
    height: 100%;

    margin: 0 auto;

    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: 100px 100px -100px;

    transition: all 0.2s;
}
.experiment:hover .experiment-cube { transform: rotateX(90deg); }

.experiment-cube-face {
    display: grid;
    place-content: center;

    position: absolute;
    width: 100%;
    height: 100%;

    background: #fff;
    border: 1px solid rgb(240, 240, 240);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.experiment-cube-front { transform: rotateX(0deg); }
.experiment-cube-side { transform: rotateX(-90deg); bottom: -200px; }

.experiment-corner {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px; left: 30px;
}

.experiment-corner-wip {
    width: 100%;
    height: 100%;

    border-radius: 100%;
    border: 4px solid rgb(248, 248, 248);
}

.experiment-corner-wip:after {
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    content: '';

    border-radius: 100%;
    border: 4px solid transparent;
    border-top-color: rgba(55, 125, 255, 0.7);
    animation: spin 2s infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.experiment-letter {
    position: relative;
    top: -10px;

    text-align: center;
    font-weight: 500;
    font-size: 42px;
    color: #7593ca;
}

.experiment-title {
    position: absolute;
    bottom: 25px;
    left: 28px;

    font-size: 15px;
    color: rgb(70, 70, 70);
}

.experiment-id {
    position: absolute;
    bottom: 27px; right: 28px;

    font-size: 10px;
    color: rgb(120, 120, 120);
}

.experiment-description {
    padding: 0 28px;

    font-size: 15px;
    color: rgb(80, 80, 80);
    line-height: 1.7em;
    text-align: left;
}

.experiment-label {
    position: absolute;
    top: 25px;
    right: 28px;

    font-size: 12px;
}

/**
 * Lab
 */

.wrapper_lab {
    width: 90%;

    margin: auto;
}

.lab-alert {
    display: inline-block;

    margin: 40px auto 0 auto;
    padding: 26px 40px;

    color: rgb(60, 60, 60);
    font-size: 16px;
    line-height: 2.75;
    text-align: center;

    background: #E9F1FE;
    border-radius: 6px;
}

.lab-alert-title {
    margin-right: 20px;
    color: #377dff;
}

.lab {
    margin: 100px 0;
}

.lab-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 50px;
}

.lab-info-title {
    max-width: 400px;

    margin-right: 40px;
}

.lab-buttons {
    text-align: right;
}

.lab-button {
    display: inline-block;
    width: 190px;

    margin: 5px 0 5px 20px;
    padding: 28px 0;

    color: #377dff;
    font-size: 16px;
    text-align: center;

    background: rgba(55, 125, 255, 0.1);
    border-radius: 8px;

    transition: all 0.2s ease-in-out;
}
.lab-button:hover { text-decoration: none; color: #fff; background-color: #377dff; }

.lab-button_green { color: #41b061; background: rgba(141, 224, 154, 0.3); }
.lab-button_green:hover { background: #8de09a; }

.lab-button_red { color: #ff7474; background: rgba(255, 55, 125, 0.1); }
.lab-button_red:hover { background: #ff8282; }

.lab-screenshot img {
    width: 100%;
}

.lab-video {
    width: 100%;
    height: 0;

    padding-bottom: 56.25%;

    overflow: hidden;
    position: relative;

    background: rgba(0, 0, 0, 0);
}

.lab-video iframe {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0; left: 0;
    z-index: -10;
}

.lab-section .experiment {
    display: inline-block;
    width: 220px;
    height: 220px;
}

.experiment-contributor {
    display: inline-block;
    width: 120px;

    text-align: center;

    margin: 0 10px 10px 0;
    padding: 22px 22px;

    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
}
.experiment-contributor:hover { text-decoration: none; }

.experiment-contributor-name {
    display: block;

    margin-top: 4px;

    color: rgb(60, 60, 60);

    transition: color 0.3s;
}
a.experiment-contributor:hover span.experiment-contributor-name { color: #377dff; }

.experiment-contributor-picture {
    width: 38px;
    height: 38px;

    margin-bottom: 16px;

    border-radius: 100%;
}

.lab-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 80px -100px;
}

.lab-section {
    width: 400px;

    margin: 60px 100px;
}
.lab-section_large {
    width: 100%;
}

.lab-section-title {
    margin-bottom: 40px;

    font-size: 24px;
    font-weight: 400;
    font-family: 'Questrial', sans-serif;
}

.lab-section-content {
    font-size: 18px;
}

.lab-spec {
    margin-bottom: 26px;
}

.lab-spec-name {
    display: inline-block;
    position: relative;
    top: 2px;

    margin-bottom: 14px;

    font-size: 15px;
    color: rgb(80, 80, 80);
}

.lab-spec-value {
    float: right;

    font-size: 18px;
}
.lab-spec-value .experiment-label { position: relative; top: 0; right: 0; font-size: 18px; }
.lab-spec-value_alert { color: #377dff; }

/**
* Mediaqueries
*/

@media screen and (max-width: 1200px) {
    /* Strecth lab show experiment */
    .lab-sections {
        margin-left: 0;
        margin-right: 0;
    }
    .lab-section {
        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 800px) {
    /* Make lab info in column */
    .lab-info {
        display: block;
    }
    .lab-buttons {
        margin-top: 60px;

        text-align: left;
    }
    .lab-button {
        margin-left: 0;
        margin-right: 10px;
    }

    /* Disable experiments grid and cubes */
    .experiments {
        display: block;

        text-align: center;
    }
    .experiment {
        width: 220px;
        height: 220px;

        margin: 0 auto 300px auto;
    }
    .experiment:hover .experiment-cube { transform: rotateX(0deg); }
    .experiment-cube-side { transform: rotateX(0deg); top: 219px; }
}

/**
 ** About
 */

.about {
    text-align: justify;
    font-size: 18px;
}

/*.about-significant {*/
    /*margin: 0 2px;*/
    /*padding: 12px 10px;*/

    /*color: #377dff;*/

    /*background: #E9F1FE;*/
/*}*/

.about-section-image {
    width: 110%;

    margin: 30px 0;
    margin-left: -5%;
}

.about-section:first-child .about-section-content:first-child {
    font-size: 20px;
}

.about-section {
    margin: 100px 0 140px 0;
}
.about-content .about-section:first-of-type {
    margin-top: 0;
}
.about-content .about-section:last-of-type {
    margin-bottom: 0;
}

.about-section-title {
    display: block;

    margin-bottom: 60px;

    text-align: center;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Questrial', sans-serif;
}

.about-section-content {
    /*width: 90%;*/

    margin: 18px auto;

    line-height: 2.75em;
}

.about-subsection {
    margin: 40px 0;
    padding: 70px 40px;

    text-align: center;
    line-height: 3;
}

.about-lab {
    /* background: rgb(10, 10, 10); */
    background: url('/images/laboratory.png');
    /*background-size: cover;*/
}

.about-button {
    display: inline-block;
    min-width: 140px;

    margin: 0 10px;
    padding: 8px 20px;

    color: #377dff;
    font-size: 18px;
    text-align: center;

    background: #E9F1FE;
    border-radius: 8px;

    transition: all 0.2s ease-in-out;
}
.about-button:hover { text-decoration: none; color: #fff; background-color: #377dff; }

/**
 * Contact
 */

.contact {
    display: flex;

    margin: 100px 0;
}

.contact-section_form {
    width: 100%;

    margin-right: 60px;
}

.contact-section_more {
    width: 40%;
}

.contact-section {
    font-size: 18px;
    line-height: 2;
}

.contact-info {
    margin: 0 auto 40px auto;
    padding: 24px 30px;

    color: rgb(60, 60, 60);

    background: #E9F1FE;
    border-radius: 6px;
}

.contact-success {
    margin-bottom: 80px;
    padding: 26px 40px;

    color: #41b061;
    font-size: 16px;
    line-height: 2.75;
    text-align: center;

    background: rgba(141, 224, 154, 0.3);
    border-radius: 6px;
}

.contact-error {
    width: 100%;

    margin-top: 10px;

    color: #ff7474;
}

.contact-input-error {
    border-color: #ff7474!important;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-senderinfo {
    width: 48%;

    margin-bottom: 30px;
}

.contact-header {
    margin-top: 60px;

    text-align: center;
}

.contact-label {
    display: none;

    margin-bottom: 18px;
}

.contact-message {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 300px;

    padding: 20px;

    font-family: 'Roboto', sans-serif;
    text-align: left;
    text-align-last: left;
    -moz-text-align-last: left;
    line-height: 1.5em;

    border: 2px solid rgb(240, 240, 240);
    border-radius: 4px;
    outline: 0;
    resize: none;
    overflow: scroll;
}

.contact-email, .contact-name {
    width: 100%;

    padding: 22px 20px;

    font-size: 16px;

    border: 2px solid rgb(240, 240, 240);
    border-radius: 4px;
}

.contact-button {
    display: block;
    width: 170px;

    margin: 30px 0 0 0;
    padding: 28px 0;

    color: #377dff;
    font-size: 16px;
    text-align: center;

    background: #EAF1FE;
    border: 0;
    border-radius: 8px;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}
.contact-button:hover { text-decoration: none; color: #fff; background-color: #377dff; }



@media screen and (max-width: 800px) {
    .contact {
        display: block;
    }
    .contact-section_more {
        width: 100%;

        margin-top: 60px;
    }
}
