@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial');

/**
 * General
 */

* {
	box-sizing: border-box;
	word-wrap: break-word;
}

::selection { background: rgba(54, 122, 255, 0.72); }
::-moz-selection { background: rgba(54, 122, 255, 0.72); }

html, body {
	margin: 0;

	color: rgb(60, 60, 60);
	font-family: 'Roboto', sans-serif;

    background: rgb(254, 254, 255);    
}

.turbolinks-progress-bar {
	height: 2px;
	background-color: #377dff;
}

a {
	color: #377dff;
	text-decoration: none;
	
	transition: all 0.2s;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0;
}

/**
 * Container
 */

.container {
	position: relative;
    z-index: 10;
    
    width: 90%;
    margin: auto;
}

/**
 ** Header  
**/

.header {
	padding: 38px 0 20px 0;
}

.header-name {
    font-size: 24px;
    font-weight: 500;
    color: rgb(30, 30, 30);
    font-family: 'Questrial';
}
.header-name:hover {
    color: rgba(54, 122, 255, 1);
    text-decoration: none;
}

.header-nav {
	position: relative;
    top: -14px;

	float: right;
}

.header-nav-back {
    position: relative;
    top: 4px;
    width: 16px;
    fill: rgb(100, 100, 100);

    margin-right: 4px;

    transition: fill 0.3s;
}
.header-nav-item:hover .header-nav-back {
    fill: rgb(0, 0, 0);
}

.header-nav-item {
    position: relative;
    top: -2px;
	display: inline-block;

	margin-left: 2px;
	padding: 18px 20px;

	color: rgb(100, 100, 100);
	font-family: 'Questrial', sans-serif;
	font-size: 18px;

	border-radius: 6px;
}
.header-nav-item:hover {
	text-decoration: none;
	background: rgb(245, 245, 245);
    color: #000;
}
.header-nav-item_active {
    background: rgb(245, 245, 245);
    color: #000;
}

@media screen and (max-width: 600px) {
    .header-nav-main { display: none; }
}

/**
 ** Content
 */

.content {
}

@media screen and (max-width: 600px) {
    .header {
        padding: 38px 25px;
    }
    .content {
        padding: 0 25px;
    }
}

/**
 ** Wrapper
 */

.wrapper {
    width: 1000px;

    margin: auto;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
    }
}

/**
 ** Heading
 */

.heading {
    margin-top: 40px;
}

.heading-title {
    margin-bottom: 14px;

    font-size: 32px;
    line-height: 1.5;
    font-family: 'Questrial', sans-serif;
    color: #377dff;
}

.heading-subtitle {
    font-size: 20px;
    color: rgb(80, 80, 80);
    line-height: 1.75;
    font-family: 'Questrial', sans-serif;
}

/**
 * Lab
 */

.lab-container {
    margin-top: 60px;
}

.lab-internship {
    max-width: 1200px;

    text-align: center;
    margin: 20px auto 80px auto;
    padding: 24px 36px;

    color: rgb(60, 60, 60);
    font-size: 18px;
    line-height: 1.75;

    background: #E9F1FE;
    border-bottom: 4px solid #377dff;
    border-radius: 0 6px 6px 6px;
}

.lab-heading {
    margin-top: 40px;
}

.lab-heading-title {
    font-size: 28px;
    color: rgb(40, 40, 40);
    line-height: 1.75;
    font-family: 'Questrial', sans-serif;
}

.lab-emphasize {
    color: #377dff;
}

/**
 * .lab-projects
 **/

 .lab-title {
    margin-top: 6px;

    font-size: 22px;
    color: rgb(60, 60, 60);
    line-height: 1.75;
    font-family: 'Questrial', sans-serif;
}

.lab-projects {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 80px;
}

.project-footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    left: 0;
    right: 0;
}

.project {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;

    margin: 50px 50px 0 0;
    padding: 40px 30px;

    width: 260px;
    height: 260px;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;

    font-family: 'Roboto', sans-serif;

    transition: 0.3s border-color;
}
.project:hover {
    /* box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.05); */
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0.2);
}

.project-corner {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 25px; left: 30px;
}

.project-corner-wip {
    width: 100%;
    height: 100%;

    border-radius: 100%;
    border: 4px solid rgb(240, 240, 240);
}
.project-corner-wip:after {
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    content: '';

    border-radius: 100%;
    border: 4px solid transparent;
    border-top-color: rgba(55, 125, 255, 0.8);
    animation: spin 2s infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.project-title {
    font-size: 20px;
    color: rgb(70, 70, 70);
}

.project-id {
    position: absolute;
    bottom: 27px; right: 28px;

    font-size: 10px;
    color: rgb(120, 120, 120);
}

.project-description {
    margin-top: 20px;

    font-size: 16px;
    color: rgb(80, 80, 80);
    line-height: 1.7em;
    text-align: left;
}

.project-category {
    position: absolute;
    top: 25px;
    right: 28px;

    font-size: 12px;
}

/**
 * .lab-header
 */

.lab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
}

.lab-header-info {
    max-width: 400px;

    margin-right: 40px;
}

.lab-header-buttons {
    text-align: right;
}

.lab-header-button {
    display: inline-block;
    width: 190px;

    margin: 5px 0 5px 20px;
    padding: 28px 0;

    color: #377dff;
    font-size: 16px;
    text-align: center;

    background: rgba(55, 125, 255, 0.1);
    border-radius: 8px;

    transition: all 0.2s ease-in-out;
}
.lab-header-button:hover { text-decoration: none; color: #fff; background-color: #377dff; }
.lab-header-button_green { color: #41b061; background: rgba(141, 224, 154, 0.3); }
.lab-header-button_green:hover { background: #8de09a; }
.lab-header-button_red { color: #ff7474; background: rgba(255, 55, 125, 0.1); }
.lab-header-button_red:hover { background: #ff8282; }

/**
 * .lab-sections
 */

.lab-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 80px -100px;
}

.lab-section {
    width: 400px;

    margin: 60px 100px;
}
.lab-section_large { width: 100%; }

.lab-section-title {
    margin-bottom: 40px;

    font-size: 24px;
    font-weight: 400;
    font-family: 'Questrial', sans-serif;
}

.lab-section-content {
    font-size: 18px;
}

.lab-spec {
    margin-bottom: 26px;
}

.lab-spec-name {
    display: inline-block;
    position: relative;
    top: 2px;

    margin-bottom: 14px;

    font-size: 15px;
    color: rgb(80, 80, 80);
}

.lab-spec-value {
    float: right;

    font-size: 18px;
}
.lab-spec-value .experiment-label { position: relative; top: 0; right: 0; font-size: 18px; }
.lab-spec-value_alert { color: #377dff; }

.lab-color {
    float: left;
    width: 22px;
    height: 22px;

    margin-right: 18px;

    border: 1px solid rgb(200, 200, 200);
    border-radius: 100%;
}

.lab-category {
    padding: 8px 12px;

    font-size: 16px;

    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
}

.lab-progress {
    position: relative;
    z-index: 50;

    width: 160px;
    height: 32px;

    border-radius: 4px;
    background: rgb(240, 240, 240);
}

.lab-progress-bar {
    position: relative;
    z-index: -5;

    width: 50%;
    height: 100%;

    background: #377dff;
    border-radius: 4px;
    opacity: 0.8;
}

.lab-progress-value {
    position: relative;
    top: -23px;
    left: 10px;

    color: #fff;
    font-size: 12px;
}

.lab-checkbox {
    width: 30px;
    height: 30px;

    border: 1px solid rgb(220, 220, 220);
    border-radius: 4px;
}

.lab-checkbox-mark {
    width: 22px;
    height: 22px;

    margin-left: 3px;
    margin-top: 4px;
}

.lab-screenshot {
    width: 100%;
}

.lab-video {
    width: 100%;

    padding-bottom: 56.25%;

    overflow: hidden;
    position: relative;
}
.lab-video iframe {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0; left: 0;
}

.lab-contributor {
    display: inline-block;
    width: 120px;

    text-align: center;

    margin: 0 10px 10px 0;
    padding: 22px 22px;

    border: 1px solid rgb(240, 240, 240);

    transition: border 0.3s;
}
a.lab-contributor:hover { text-decoration: none; border: 1px solid rgb(220, 220, 220); }

.lab-contributor-name {
    display: block;

    margin-top: 4px;

    color: rgb(100, 100, 100);

    transition: color 0.3s;
}
a.lab-contributor:hover span.lab-contributor-name { color: #000; }

.lab-contributor-picture {
    width: 38px;
    height: 38px;

    margin-bottom: 16px;

    border-radius: 100%;
}

/**
* Mediaqueries
*/

@media screen and (max-width: 600px) {
    /* Disable lab grid */
    .wrapper_lab {
        width: 100%;
    }
    .lab-projects {
        display: block;
    }

    /* Make lab sections use full width */
    .lab-sections {
        margin-left: 0;
        margin-right: 0;
    }
    .lab-section {
        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }

    /* Make lab header displayed in column */
    .lab-header {
        display: block;
    }
    .lab-header-buttons {
        margin-top: 60px;

        text-align: center;
    }
    .lab-header-button {
        margin: 10px 0;
    }
}
