@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Questrial');

/**
 * General
 */

* {
	box-sizing: border-box;
	word-wrap: break-word;
}

::selection { background: rgba(54, 122, 255, 0.72); }
::-moz-selection { background: rgba(54, 122, 255, 0.72); }

html, body {
	margin: 0;

	color: rgb(60, 60, 60);
	font-family: 'Roboto', sans-serif;

    background: rgb(254, 254, 255);    
}

.turbolinks-progress-bar {
	height: 2px;
	background-color: #377dff;
}

a {
	color: #377dff;
	text-decoration: none;
	
	transition: all 0.2s;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0;
}

/**
 * Container
 */

.container {
	position: relative;
    z-index: 10;
}

/**
 ** Header  
**/

.header {
    background: #fff;

    border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 0;
}

.header-name {
    font-size: 20px;
    font-weight: 500;
    color: rgb(50, 50, 50);
    font-family: 'Questrial';
}
.header-name:hover {
    color: rgb(30, 30, 30);
    text-decoration: none;
}

.header-nav {
	
}

.header-nav-back-icon {
    position: relative;
    top: 4px;
    width: 14px;
    fill: rgb(100, 100, 100);

    margin-right: 8px;

    transition: fill 0.3s;
}
.header-nav-item:hover .header-nav-back-icon {
    fill: rgb(30, 30, 30);
}

.header-nav-item {
    /* margin-left: 16px; */

	color: rgb(120, 120, 120);
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
}
.header-nav-item:hover, .header-nav-item_active {
	text-decoration: none;
    color: rgb(30, 30, 30);
}

/**
 ** Content
 */

.content {
    margin-bottom: 80px;
}

.wrapper {
    width: 90%;
    margin: auto;
}
.wrapper_narrow { width: 1200px; }

/**
 * Main page
 */

.internship {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 18px 26px;

    color: rgb(60, 60, 60);
    font-size: 14px;
    line-height: 1.75;

    background: #E9F1FE;
    border-bottom: 1px solid rgb(219, 233, 255);
}

.internship-icon {
    width: 16px;

    margin: 4px 28px 0 0;
}

.heading {
    margin-top: 30px;

    font-size: 22px;
    color: rgb(80, 80, 80);
    line-height: 1.5;
    font-family: 'Questrial', sans-serif;
}
.heading p { margin-top: 10px; }

.emphasize {
    padding: 8px 6px;

    color: #000;

    background: #E9F1FE;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 80px;
}

.projects-section {
    width: 50%;

    margin-bottom: 100px;
}

.projects-title {
    margin-bottom: 10px;

    font-size: 16px;
    color: rgb(60, 60, 60);
    line-height: 1.5;
    font-family: 'Questrial', sans-serif;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
}

/**
 * Project (cuboid)
 */

.project {
    display: block;
    position: relative;

    margin: 20px 20px 0 0;
    padding: 28px 22px;

    width: 260px;
    height: 160px;

    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(47, 55, 71, 0.03), 0px 1px 3px rgba(47, 55, 71, 0.08);

    font-family: 'Roboto', sans-serif;

    overflow: hidden;

    transition: 0.2s box-shadow, 0.3s transform;
}
.project:hover {
    text-decoration: none;

    box-shadow: 0px 4px 8px rgba(47, 55, 71, 0.08), 0px 1px 3px rgba(47, 55, 71, 0.13);

    transform: translateY(-4px);
}

.project-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 4px;

    background: rgba(0, 0, 0, 0);
    opacity: 0.7;
}

.project-corner {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 24px; right: 22px;
}

.project-corner-wip {
    width: 100%;
    height: 100%;

    border-radius: 100%;
    border: 4px solid rgb(240, 240, 240);
}
.project-corner-wip:after {
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    content: '';

    border-radius: 100%;
    border: 4px solid transparent;
    border-top-color: rgba(55, 125, 255, 0.8);
    animation: spin 2s infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.project-icon {
    display: inline-block;

    width: 28px;
    height: 28px;

    margin-right: 10px;
    padding-top: 6px;

    font-size: 14px;
    text-align: center;
    color: #fff;

    border-radius: 100%;
    background: rgb(240, 240, 240);

    opacity: 0.7;

    transition: opacity 0.2s;
}
.project:hover .project-icon {
    opacity: 1;
}

.project-title {
    font-size: 14px;
    color: rgb(30, 30, 30);
}

.project-description {
    margin-top: 10px;

    font-size: 12px;
    color: rgb(100, 100, 100);
    line-height: 1.6em;
    text-align: left;

    opacity: 1;

    transition: opacity 0.2s;
}
.project:hover .project-description {
    opacity: 1;
}

.project-footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    left: 0;
    right: 0;
}

.project-id {
    position: absolute;
    bottom: 26px; left: 22px;

    font-size: 10px;
    color: rgb(160, 160, 160);
}

/**
 * Lab
 */

.lab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 80px 100px 60px 100px;
}

.lab-header-info {
    max-width: 400px;

    margin-right: 40px;
}

.lab-header-title {
    margin-bottom: 14px;

    font-size: 28px;
    line-height: 1.5;
    font-family: 'Questrial', sans-serif;
    color: #377dff;
}

.lab-header-subtitle {
    font-size: 18px;
    color: rgb(80, 80, 80);
    line-height: 1.75;
    font-family: 'Questrial', sans-serif;
}

.lab-header-buttons {
    text-align: right;
}

.lab-header-button {
    display: inline-block;
    width: 170px;

    margin: 5px 0 5px 14px;
    padding: 26px 0;

    color: #377dff;
    font-size: 14px;
    text-align: center;

    background: rgba(55, 125, 255, 0.1);
    border-radius: 8px;

    transition: all 0.2s ease-in-out;
}
.lab-header-button:hover { text-decoration: none; color: #fff; background-color: #377dff; }
.lab-header-button_green { color: #41b061; background: rgba(141, 224, 154, 0.3); }
.lab-header-button_green:hover { background: #8de09a; }
.lab-header-button_red { color: #ff7474; background: rgba(255, 55, 125, 0.1); }
.lab-header-button_red:hover { background: #ff8282; }

.lab-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lab-section {
    width: 400px;

    margin: 60px 100px;
}
.lab-section_large { width: 1000px; }

.lab-section_about {
    text-align: justify;
    line-height: 1.75;
}
.lab-section_about p { margin-bottom: 20px; }
.lab-section_about img { width: 100%; }

.lab-section-title {
    margin-bottom: 40px;

    font-size: 20px;
    font-weight: 400;
    font-family: 'Questrial', sans-serif;
}

.lab-section-content {
    font-size: 18px;
}

.lab-spec {
    padding: 22px 0;
    
    border-top: 1px solid rgb(240, 240, 240);
}
.lab-spec:last-child { border-bottom: 1px solid rgb(240, 240, 240); }

.lab-spec-name {
    display: inline-block;
    position: relative;
    top: -1px;

    font-size: 12px;
    color: rgb(100, 100, 100);
}

.lab-spec-value {
    float: right;

    font-size: 16px;
}

.lab-screenshot {
    display: block;

    width: 100%;
    max-width: 1000px;

    margin: 60px auto;
}

.lab-carousel {
    margin: 60px 0;
}

.lab-color {
    float: left;
    width: 24px;
    height: 24px;

    margin-top: -3px;
    margin-right: 18px;

    border-radius: 100%;
}

.lab-category {
    margin-top: -8px;
    padding: 8px 12px;

    font-size: 14px;

    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
}

.lab-progress {
    width: 160px;
    height: 36px;

    margin-top: -8px;

    text-align: right;

    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgb(230, 230, 230);
}

.lab-progress-bar {
    width: 50%;
    height: 100%;

    background: rgb(245, 245, 245);
}

.lab-progress-value {
    position: relative;
    top: -24px;
    right: 14px;

    font-size: 12px;
}

.lab-checkbox {
    width: 26px;
    height: 26px;

    margin-top: -2px;

    border: 1px solid rgb(220, 220, 220);
    border-radius: 4px;
}

.lab-checkbox-mark {
    width: 20px;
    height: 20px;

    margin-left: 2px;
    margin-top: 3px;
}

.lab-video {
    position: relative;

    width: 100%;

    padding-bottom: 56.25%;

    overflow: hidden;
}
.lab-video iframe {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0; left: 0;
}

.lab-contributor {
    display: inline-block;
    width: 116px;

    text-align: center;

    margin: 0 10px 10px 0;
    padding: 18px 22px;

    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;

    transition: border 0.3s;
}
a.lab-contributor:hover { text-decoration: none; border: 1px solid rgb(220, 220, 220); }

.lab-contributor-name {
    display: block;

    margin-top: 4px;

    font-size: 14px;
    color: rgb(100, 100, 100);

    transition: color 0.3s;
}
a.lab-contributor:hover span.lab-contributor-name { color: #000; }

.lab-contributor-picture {
    width: 38px;
    height: 38px;

    margin-bottom: 16px;

    border-radius: 100%;
}

/**
* Mediaqueries
*/

@media screen and (max-width: 1200px) {
    .wrapper_narrow {
        width: 90%;
    }
    .projects {
        display: block;
    }
    .projects-section {
        width: 100%;
    }
    .lab-sections {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 80%;
    }

    /* Reduce width of 'go back' item in header */
    .header-nav-back-text {
        display: none;
    }
    .header-nav-back-icon {
        margin-right: 0;
    }

    /* Put the link behind the message */
    .internship-link {
        display: block;

        margin-top: 8px;
    }

    /* Center projects cuboid */
    .projects-container {
        justify-content: center;
    }
    .project {
        margin-right: 0;
    }

    /* Make lab sections use full width */
    .lab-header {
        margin-left: 0;
        margin-right: 0;
    }
    .lab-section, .lab-screenshot {
        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }

    /* Make lab header displayed in column */
    .lab-header {
        display: block;
    }
    .lab-header-buttons {
        margin-top: 40px;

        text-align: left;
    }
    .lab-header-button {
        width: 100%;

        margin: 10px 0;
    }
}