/**
 * Contact
 */

.contact {
    display: flex;

    margin: 100px 0;
}

.contact-section_form {
    width: 100%;

    margin-right: 60px;
}

.contact-section_more {
    width: 40%;
}

.contact-section {
    font-size: 18px;
    line-height: 2;
}

.contact-info {
    margin: 0 auto 40px auto;
    padding: 24px 30px;

    color: rgb(60, 60, 60);

    background: #E9F1FE;
    border-radius: 6px;
}

.contact-success {
    margin-bottom: 80px;
    padding: 26px 40px;

    color: #41b061;
    font-size: 16px;
    line-height: 2.75;
    text-align: center;

    background: rgba(141, 224, 154, 0.3);
    border-radius: 6px;
}

.contact-error {
    width: 100%;

    margin-top: 10px;

    color: #ff7474;
}

.contact-input-error {
    border-color: #ff7474!important;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-senderinfo {
    width: 48%;

    margin-bottom: 30px;
}

.contact-header {
    margin-top: 60px;

    text-align: center;
}

.contact-label {
    display: none;

    margin-bottom: 18px;
}

.contact-message {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 300px;

    padding: 20px;

    font-family: 'Roboto', sans-serif;
    text-align: left;
    text-align-last: left;
    -moz-text-align-last: left;
    line-height: 1.5em;

    border: 2px solid rgb(240, 240, 240);
    border-radius: 4px;
    outline: 0;
    resize: none;
    overflow: scroll;
}

.contact-email, .contact-name {
    width: 100%;

    padding: 22px 20px;

    font-size: 16px;

    border: 2px solid rgb(240, 240, 240);
    border-radius: 4px;
}

.contact-button {
    display: block;
    width: 170px;

    margin: 30px 0 0 0;
    padding: 28px 0;

    color: #377dff;
    font-size: 16px;
    text-align: center;

    background: #EAF1FE;
    border: 0;
    border-radius: 8px;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}
.contact-button:hover { text-decoration: none; color: #fff; background-color: #377dff; }



@media screen and (max-width: 800px) {
    .contact {
        display: block;
    }
    .contact-section_more {
        width: 100%;

        margin-top: 60px;
    }
}
