/**
 * Lab
 */

.lab-container {
    margin-top: 60px;
}

.lab-internship {
    display: block;
    max-width: 900px;

    margin: 40px 0 80px 0;
    padding: 22px 34px;

    color: rgb(60, 60, 60);
    font-size: 20px;
    line-height: 2;

    background: #E9F1FE;
    border-left: 8px solid #377dff;
    border-radius: 6px;
}

/**
 * .lab-projects
 **/

 .lab-title {
    margin-top: 6px;

    font-size: 24px;
    color: rgb(40, 40, 40);
    line-height: 1.75;
    font-family: 'Questrial', sans-serif;
}

.lab-projects {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 80px;
}

.project-footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    left: 0;
    right: 0;
}

.project {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;

    margin: 50px 50px 0 0;
    padding: 50px 30px;

    width: 260px;
    height: 260px;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;

    font-family: 'Roboto', sans-serif;

    transition: 0.3s border-color;
}
.project:hover {
    /* box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.05); */
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0.2);
}

.project-corner {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 25px; left: 30px;
}

.project-corner-wip {
    width: 100%;
    height: 100%;

    border-radius: 100%;
    border: 4px solid rgb(240, 240, 240);
}
.project-corner-wip:after {
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    content: '';

    border-radius: 100%;
    border: 4px solid transparent;
    border-top-color: rgba(55, 125, 255, 0.8);
    animation: spin 2s infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.project-title {
    font-size: 20px;
    color: rgb(70, 70, 70);
}

.project-id {
    position: absolute;
    bottom: 27px; right: 28px;

    font-size: 10px;
    color: rgb(120, 120, 120);
}

.project-description {
    margin-top: 20px;

    font-size: 16px;
    color: rgb(80, 80, 80);
    line-height: 1.7em;
    text-align: left;
}

.project-category {
    position: absolute;
    top: 25px;
    right: 28px;

    font-size: 12px;
}

/**
 * .lab-header
 */

.lab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
}

.lab-header-info {
    max-width: 400px;

    margin-right: 40px;
}

.lab-header-buttons {
    text-align: right;
}

.lab-header-button {
    display: inline-block;
    width: 190px;

    margin: 5px 0 5px 20px;
    padding: 28px 0;

    color: #377dff;
    font-size: 16px;
    text-align: center;

    background: rgba(55, 125, 255, 0.1);
    border-radius: 8px;

    transition: all 0.2s ease-in-out;
}
.lab-header-button:hover { text-decoration: none; color: #fff; background-color: #377dff; }
.lab-header-button_green { color: #41b061; background: rgba(141, 224, 154, 0.3); }
.lab-header-button_green:hover { background: #8de09a; }
.lab-header-button_red { color: #ff7474; background: rgba(255, 55, 125, 0.1); }
.lab-header-button_red:hover { background: #ff8282; }

/**
 * .lab-sections
 */

.lab-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 80px -100px;
}

.lab-section {
    width: 400px;

    margin: 60px 100px;
}
.lab-section_large { width: 100%; }

.lab-section-title {
    margin-bottom: 40px;

    font-size: 24px;
    font-weight: 400;
    font-family: 'Questrial', sans-serif;
}

.lab-section-content {
    font-size: 18px;
}

.lab-spec {
    margin-bottom: 26px;
}

.lab-spec-name {
    display: inline-block;
    position: relative;
    top: 2px;

    margin-bottom: 14px;

    font-size: 15px;
    color: rgb(80, 80, 80);
}

.lab-spec-value {
    float: right;

    font-size: 18px;
}
.lab-spec-value .experiment-label { position: relative; top: 0; right: 0; font-size: 18px; }
.lab-spec-value_alert { color: #377dff; }

.lab-screenshot {
    width: 100%;
}

.lab-video {
    width: 100%;

    padding-bottom: 56.25%;

    overflow: hidden;
    position: relative;
}
.lab-video iframe {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0; left: 0;
}

.lab-contributor {
    display: inline-block;
    width: 120px;

    text-align: center;

    margin: 0 10px 10px 0;
    padding: 22px 22px;

    border: 1px solid rgb(240, 240, 240);

    transition: border 0.3s;
}
a.lab-contributor:hover { text-decoration: none; border: 1px solid rgb(220, 220, 220); }

.lab-contributor-name {
    display: block;

    margin-top: 4px;

    color: rgb(100, 100, 100);

    transition: color 0.3s;
}
a.lab-contributor:hover span.lab-contributor-name { color: #000; }

.lab-contributor-picture {
    width: 38px;
    height: 38px;

    margin-bottom: 16px;

    border-radius: 100%;
}

/**
* Mediaqueries
*/

@media screen and (max-width: 600px) {
    /* Disable lab grid */
    .wrapper_lab {
        width: 100%;
    }
    .lab-projects {
        display: block;

        text-align: center;
    }

    /* Make lab sections use full width */
    .lab-sections {
        margin-left: 0;
        margin-right: 0;
    }
    .lab-section {
        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }

    /* Make lab header displayed in column */
    .lab-header {
        display: block;
    }
    .lab-header-buttons {
        margin-top: 60px;

        text-align: center;
    }
    .lab-header-button {
        margin: 10px 0;
    }
}
