@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;

    background: rgb(250, 250, 250);
}

a {
    color: #377dff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.container {
    font-family: 'Open Sans', sans-serif;
}

.resume {
    width: 210mm;
    height: 296mm;

    margin: 10mm auto;
    padding: 14mm 16mm;

    font-size: 12px;

    background: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.08);
}

.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.resume-head {
    max-width: 400px;
}

.resume-contact-item {
    display: block;

    margin: 5px 0;
}

.resume-section {
    margin: 32px 0;
}

.resume-contact {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    text-align: right;
}

.resume-item {
    margin: 4mm 0;
}

.resume-icons {
    display: flex;

    margin-top: 4px;

    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.resume-icon {
    width: 10px;

    margin-right: 4px;
}

.resume-date {
    margin-left: 20px;
}

.resume-title {
    font-family: 'Questrial';
    /* font-family: 'Noto Serif', serif; */
    font-size: 20px;
}

.resume-dot {
    position: relative;
    top: 16px;
    left: -32px;
    width: 12px;
    height: 12px;

    border-radius: 100%;
    background-color: #377dff;
}
.resume-dot_green { background-color: #61b677; }
.resume-dot_red { background-color: #d46868; }
.resume-dot_blue { background-color: #6492cf; }
.resume-dot_orange { background-color: #ebc26b; }

.resume-subtitle {
    font-size: 14px;
    font-weight: 600;
}

.resume-subsubtitle {
    font-size: 12px;
    font-weight: 600;
}

.resume-text {
    margin-top: 4px;

    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.resume-name {
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Questrial';
    font-size: 26px;
}

.resume-description {
    margin-top: 10px;

    font-size: 18px;
    line-height: 1.4em;
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Questrial';
    color: rgba(0, 0, 0, 0.5);
}

.resume-label {
    display: inline-block;

    margin: 8px 1px 0 0;
    padding: 4px 6px;

    font-size: 11px;

    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
}

.resume-experience {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    margin: 14px 0;
}

.resume-experience-image {
    width: 52px;

    margin-top: 4px;
    margin-left: 20px;
}

.resume-experience-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.resume-experience-icons {
    display: flex;

    margin-left: 40px;

    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.resume-cols {
    display: flex;
    justify-content: space-between;
}

.resume-col {
    width: 310px;
}

.resume-footer {
    display: none;

    margin-top: 40px;

    text-align: center;
    color: rgb(120, 120, 120);
}